/*
 * Fira Code (NERD's patched)
 */

@font-face {

  font-family: "NFiraCode";
  font-weight: 500;
  font-style: normal;
  src:
    url("fonts/Fira Code/Fira Code Regular Nerd Font Complete Mono.ttf") format("truetype");

}

@font-face {

  font-family: "NFiraCode";
  font-weight: 700;
  font-style: normal;
  src:
    url("fonts/Fira Code/Fira Code Bold Nerd Font Complete Mono.ttf") format("truetype");

}
