.block {

  display: flex;
  flex-direction: row;
  width: fit-content; height: fit-content;


} .block .column {

  display: flex;
  flex-direction: column;

} .block .column-item {

  text-align: center;
  background: transparent;

} .block .column-item.selected {

  background-color: red;

}
