/* Body of the page, grid used for styling.
 * <> */

body {

  height: 100vh; width: 100vw;
  margin: 0; padding: 0;

  display: grid; 
  grid-template-columns: 0.7fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "sidebar information information"
    "sidebar main main"
    "sidebar pallete pallete"; 
}

#sidebar {
  grid-area: sidebar;
  background-color: var(--background);
  box-shadow: var(--background) 1px 4px 1rem;
}
#main {
  grid-area: main;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

}
#pallete {
  grid-area: pallete;
}
#information {
  grid-area: information;
}

/* Background of the theme.
 * <theme.Image.Path> */

#background {

  background-image: var(--background-path);
  width: 100%; height: 100%;
  position: absolute;
  z-index: -1;

} #background::after {

  content: '';
  position: absolute;
  width: 100%; height: 100%;

  pointer-events: none;
  backdrop-filter: blur(8px);

}

/* Block for the input type text items to type.
 * <blockWidth/blockHeight> */

#block {

  display: flex;
  flex-direction: row;
  width: fit-content; height: fit-content;
  position: relative;

} #block::after {

  position: absolute;
  content: '';
  width: 100%; height: 100%;
  background-color: var(--background);
  z-index: -1;

} #block .column {

  display: flex;
  flex-direction: column;

} #block .column-item {

  text-align: center;
  background: transparent;
  border: 1px solid transparent;

} #block .column-item:focus {

  outline: none!important;

} #block .column-item.selected {

  border: 1px solid var(--red-bright);

}

#block .column-item[data-fg="black"] { color: var(--black); }
#block .column-item[data-fg="blackBright"] { color: var(--black-bright); }
#block .column-item[data-fg="red"] { color: var(--red); }
#block .column-item[data-fg="redBright"] { color: var(--red-bright); }
#block .column-item[data-fg="green"] { color: var(--green); }
#block .column-item[data-fg="greenBright"] { color: var(--green-bright); }
#block .column-item[data-fg="yellow"] { color: var(--yellow); }
#block .column-item[data-fg="yellowBright"] { color: var(--yellow-bright); }
#block .column-item[data-fg="blue"] { color: var(--blue); }
#block .column-item[data-fg="blueBright"] { color: var(--blue-bright); }
#block .column-item[data-fg="blue"] { color: var(--blue); }
#block .column-item[data-fg="blueBright"] { color: var(--blue-bright); }
#block .column-item[data-fg="purple"] { color: var(--purple); }
#block .column-item[data-fg="purpleBright"] { color: var(--purple-bright); }
#block .column-item[data-fg="cyan"] { color: var(--cyan); }
#block .column-item[data-fg="cyanBright"] { color: var(--cyan-bright); }
#block .column-item[data-fg="white"] { color: var(--white); }
#block .column-item[data-fg="whiteBright"] { color: var(--white-bright); }

#block .column-item[data-bold="true"] { font-weight: bold; }
#block .column-item[data-underline="true"] { text-decoration: underline; }
#block .column-item[data-italic="true"] { font-style: italic; }

/* Pallete */

#pallete {

} #pallete .part {

} #pallete .colour {

  width: 1.666rem; height: 1.666rem;
  border-radius: .25rem;
  display: inline-block;
  
} #pallete .selectedColour {

  width: 2rem; height: 2rem;

} #block .column-item[data-bg="black"], #pallete #black.colour {

  background-color: var(--black);

} #block .column-item[data-bg="blackBright"], #pallete #blackBright.colour {

  background-color: var(--black-bright);

} #block .column-item[data-bg="red"], #pallete #red.colour {

  background-color: var(--red);

} #block .column-item[data-bg="redBright"], #pallete #redBright.colour {

  background-color: var(--red-bright);
  
} #block .column-item[data-bg="green"], #pallete #green.colour {

  background-color: var(--green);

} #block .column-item[data-bg="greenBright"], #pallete #greenBright.colour {

  background-color: var(--green-bright);

} #block .column-item[data-bg="yellow"], #pallete #yellow.colour {

  background-color: var(--yellow);

} #block .column-item[data-bg="yellowBright"], #pallete #yellowBright.colour {

  background-color: var(--yellow-bright);

} #block .column-item[data-bg="blue"], #pallete #blue.colour {

  background-color: var(--blue);

} #block .column-item[data-bg="blueBright"], #pallete #blueBright.colour {

  background-color: var(--blue-bright);

} #block .column-item[data-bg="purple"], #pallete #purple.colour {

  background-color: var(--purple);

} #block .column-item[data-bg="purpleBright"], #pallete #purpleBright.colour {

  background-color: var(--purple-bright);

} #block .column-item[data-bg="cyan"], #pallete #cyan.colour {

  background-color: var(--cyan);

} #block .column-item[data-bg="cyanBright"], #pallete #cyanBright.colour {

  background-color: var(--cyan-bright);

} #block .column-item[data-bg="white"], #pallete #white.colour {

  background-color: var(--white);

} #block .column-item[data-bg="whiteBright"], #pallete #whiteBright.colour {

  background-color: var(--white-bright);

}
